/*TITRES*/
#kiwiki h1 {
  font-size: 2.5rem;
  line-height: 1.8;
  margin: 0 0 0.5rem;
  padding: 0 10px;
  border-bottom: 1px solid var(--kiwiki-ui-300);
}
#kiwiki h2 {
  font-size: 1.8em;
  margin: 0.5em 0;
  padding: 0 10px;
  border-bottom: 1px solid var(--kiwiki-ui-300);
  line-height: 1.5;
}
#kiwiki h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 0.7em;
  padding: 0 10px;
}
/*STRUCTURE*/
#kiwiki #dokuwiki__site {
  min-height: calc(100vh);
  margin-bottom: -30px;
  background-color: var(--kiwiki-body-bg);
  justify-content: space-between;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#kiwiki #dokuwiki__top {
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--kiwiki-text);
}

#kiwiki #dokuwiki__top.mode_login {
  display: flex;
  margin-bottom: -90px;
  height: 100vh;
  align-items: center;
}

#kiwiki #dokuwiki__top .wrapper {
  max-width: var(--kiwiki-content-max-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: start;
  padding: 0;
}
div.dokuwiki .hentry{
  padding: 0;
  background-color: transparent;
}
/*LOGIN*/
#kiwiki h1#connexion {
  text-align: center;
}

#kiwiki h1#connexion + .level1 {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 10px;
}

#kiwiki #dw__login fieldset {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  box-shadow: #1e293b0a 0 2px 4px 0;
  border: 1px solid var(--kiwiki-ui-100);
  background: var(--kiwiki-main, #fff);
  border-radius: 4px;
  padding: 30px;
  margin: 0 auto;
}

#kiwiki #dw__login fieldset,
#kiwiki #dw__resendpwd fieldset,
#kiwiki #dw__register fieldset {
  padding-bottom: 30px;
}

#kiwiki #dw__login p {
  font-size: 0.75rem;
}

#kiwiki #dw__login p a {
  display: block;
}

#kiwiki #dw__login label.block select,
#kiwiki #dw__login label.block input.edit {
  width: 100%;
}

#kiwiki #dw__login button {
  padding: 15px 30px;
}

#kiwiki #dw__login label.block {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#kiwiki #dw__login label[for="remember__me"] {
  margin-left: 0;
  text-align: left;
  margin-bottom: 1.4em;
}

#kiwiki #dokuwiki__site #dokuwiki__top.mode_denied #dokuwiki__content__wrapper {
  max-width: 700px;
}

#kiwiki .mode_denied #dokuwiki__content .page.group > h1,
#kiwiki .mode_denied #dokuwiki__content .page.group > h1 + .level1 {
  text-align: center;
  margin: 0;
  padding: 15px 30px 15px;
}
#kiwiki .mode_denied #dokuwiki__content .page.group > h1:first-child,
#kiwiki .mode_denied #dokuwiki__content h1:first-child + .level1 {
  background-color: rgba(255, 0, 0, 0.4);
  border-radius: 8px 8px 0 0;
}

#kiwiki .mode_denied #dokuwiki__content h1:first-child + .level1 {
  padding: 0 30px 15px;
  border-radius: 0 0 8px 8px;
}

#kiwiki .mode_denied #dokuwiki__content h1:first-child + .level1 p {
  margin: 0;
}
#kiwiki .back-home {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0.5rem 0;
  padding: 20px 0 0;
  border-top: 1px solid var(--kiwiki-ui-300);
}
/*USER GROUP INFORMATION*/
#kiwiki .user_groups_info {
  width: 100%;
  position: relative;
  display: block;
  background-color: var(--kiwiki-ui-100);
  color: var(--kiwiki-text);
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 40px;
}

/*HEADER*/

#kiwiki #dokuwiki__header {
  display: block;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 99;
  background-color: var(--kiwiki-header-bg);
  box-shadow: inset 0 -1px 0 0 var(--kiwiki-ui-100);
  padding: 0 20px;
  margin: 0 0 10px;
}

#kiwiki #dokuwiki__header > .dokuwiki__header__wrapper {
  max-width: var(--kiwiki-content-max-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  padding: 0;
}

#kiwiki #dokuwiki__header > .dokuwiki__header__wrapper a.wikilogo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

#kiwiki #dokuwiki__header > .dokuwiki__header__wrapper .wikilogo img {
  height: 60px;
  min-width: 60px;
  width: auto;
  opacity: 0;
}

#kiwiki #dokuwiki__header > .dokuwiki__header__wrapper .wikilogo .logo-img{
  display: block;
  width: fit-content;
  height: 60px;
  margin: 10px 0;
  background-image: var(--kiwiki-logo-url);
  background-repeat: no-repeat;
  background-size: contain;
}

#kiwiki.lightmode #dokuwiki__header > .dokuwiki__header__wrapper .wikilogo .logo-img{
  background-image: var(--kiwiki-logo-light-url);
}

#kiwiki.darkmode #dokuwiki__header > .dokuwiki__header__wrapper .wikilogo .logo-img{
  background-image: var(--kiwiki-logo-dark-url);
}

#kiwiki #dokuwiki__header > .dokuwiki__header__wrapper a.wikilogo > div {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: var(--kiwiki-text);
}
#kiwiki
  #dokuwiki__header
  > .dokuwiki__header__wrapper
  a.wikilogo
  > div
  > .claim {
  font-size: 15px;
}

#kiwiki #dokuwiki__site > .group {
  position: relative;
  justify-content: center;
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: var(--kiwiki-content-max-width);
  margin: 0 auto;
}

#kiwiki form.search {
  min-width: 400px;
}
#kiwiki form.search .no {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 15px;
}

#kiwiki form.search .no button[type="submit"] {
  background-color: transparent;
  color: var(--kiwiki-text);
  border: 1px solid var(--kiwiki-ui-100);
}

#kiwiki form.search .no button[type="submit"]:hover {
  background-color: var(--kiwiki-link-btn);
  color: var(--kiwiki-main);
  border: 1px solid var(--kiwiki-link-btn);
}

#dokuwiki__site > .group {
  position: relative;
  justify-content: center;
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: var(--kiwiki-content-max-width);
  margin: 0 auto;
}

/*MENU*/
#kiwiki nav.tools {
  display: flex;
  gap: 20px;
  position: relative;
}
#kiwiki nav.tools > div > strong, #dokuwiki__pagetools > strong {
  pointer-events: none;
}
#kiwiki nav.tools > div{
  position: relative;
  cursor: pointer;
}
#dokuwiki__pagetools {
  position: absolute;
  cursor: pointer;
  right:0;
  top:-3px;
}
#kiwiki nav.tools > div > strong svg, #dokuwiki__pagetools > strong svg {
  width: 32px;
  height: 32px;
  fill: var(--kiwiki-text);
  transition: all 0.2s ease-in-out;
}
#dokuwiki__pagetools > strong svg {
  width: 24px;
  height: 24px;
}

#kiwiki nav.tools > div:hover > strong svg, #dokuwiki__pagetools:hover > strong svg {
  fill: var(--kiwiki-link-btn);
  transform: scale(1.1);
}

#dokuwiki__right_before{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: end;
  padding-right: 50px;
}

#kiwiki nav.tools > div > ul, #dokuwiki__pagetools > ul {
  min-width: 250px;
  display: none;
  list-style-type: none;
  position: absolute;
  background-color: var(--kiwiki-main);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border: 1px solid var(--kiwiki-ui-100);
  border-radius: 4px;
  padding: 0;
  overflow: hidden;
  right: 0;
}
#dokuwiki__pagetools > ul {
  top: 16px;
  right: 0;
}

#dokuwiki__right_before .translation-switcher ul > li > a{
  color:var(--kiwiki-text);
}

#kiwiki nav.tools > div.active > ul,   #dokuwiki__pagetools.active > ul{
  display: block;
}

#kiwiki nav.tools > div > ul > li a,  #dokuwiki__pagetools > ul > li a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
}

#kiwiki nav.tools > div > ul > li a:hover, #dokuwiki__pagetools > ul > li a:hover {
  background-color: var(--kiwiki-ui-100);
  color: var(--kiwiki-link-btn-hover);
}

#dokuwiki__pagetools ul > li#sitemenu {
  padding: 10px 20px;
  background-color: var(--kiwiki-ui-400);
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
}
#dokuwiki__pagetools ul > li#sitemenu a:hover {
  background-color: transparent;
}

#dokuwiki__pagetools #sitemenu .icon {
  fill: var(--kiwiki-main);
}

#dokuwiki__pagetools #sitemenu a:hover .icon {
  fill: var(--kiwiki-link-btn);
}

#kiwiki #dokuwiki__usertools .user {
  padding: 10px 20px;
  background-color: var(--kiwiki-ui-400);
  color: var(--kiwiki-text);
  font-size: 0.8rem;
}

#kiwiki nav.tools > div > ul > li.action.logout a {
  color: #f00;
}

#kiwiki.fullscreen #dokuwiki__site #dokuwiki__top #dokuwiki__content__wrapper {
  max-width: 100vw;
}

#kiwiki.fullscreen #dokuwiki__header {
  margin-top: -80px;
  margin-bottom: 30px;
}

#kiwiki.fullscreen #dokuwiki__header #full-screen {
  position: fixed;
  top: 5px;
  right: 5px;
}

/*Main Menu*/
.kiwiki-main-menu__wrapper{
    display: flex;
    justify-content: end;
    position: fixed;
    top:0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index:9999;
    opacity: 0;
    transition:all .2s ease-in-out;
    pointer-events: none;
}

.kiwiki-main-menu__wrapper.open{
    opacity: 1;
    pointer-events: initial;
}

.kiwiki-main-menu__wrapper .kiwiki-main-menu-overlay{
    background-color: var(--kiwiki-body-bg);
    opacity: .8;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left:0;
    z-index: 0;

}

.kiwiki-main-menu__wrapper .kiwiki-main-menu{
    z-index: 1;
    position: relative;
    height: 100vh;
    width:20vw;
    right: -100vw;
    min-width: 200px;
    background-color: var(--kiwiki-header-bg);
    padding: 20px 60px;
    transition:all .2s ease-in-out .1s;
}
.kiwiki-main-menu__wrapper.open .kiwiki-main-menu{
    
    right: 0;
    
}
.kiwiki-main-menu__wrapper #kiwiki-main-menu__close{
    position: absolute;
    top: 10px;
    left: -35px;
    color:var(--kiwiki-header-bg);
}
.kiwiki-main-menu__wrapper #kiwiki-main-menu__close .icon{
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items:center;
}

.kiwiki-main-menu__wrapper #kiwiki-main-menu__close .icon svg{
    fill:var(--kiwiki-header-bg);
}





/*TABLES*/
#kiwiki #dokuwiki__content .table {
  overflow: auto;
}
#kiwiki #dokuwiki__top:not(.mode_admin) #dokuwiki__content table {
  width: 100%;
  border: 1px solid var(--kiwiki-body-bg);
  padding: 0;
  display: table;
  border-spacing: 0;
}

#kiwiki #dokuwiki__top:not(.mode_admin) #dokuwiki__content table thead {
  background-color: var(--kiwiki-ui-600);
  color: var(--kiwiki-ui-100);
  padding: 15px;
}

#kiwiki
  #dokuwiki__top:not(.mode_admin)
  #dokuwiki__content
  table
  tbody
  tr:nth-child(odd) {
  background-color: var(--kiwiki-ui-200);
}

#kiwiki
  #dokuwiki__top:not(.mode_admin)
  #dokuwiki__content
  table
  tr:nth-child(even) {
  background-color: var(--kiwiki-ui-300);
}

#kiwiki #dokuwiki__top:not(.mode_admin) #dokuwiki__content table thead th,
#kiwiki #dokuwiki__top:not(.mode_admin) #dokuwiki__content table td {
  padding: 10px;
}

/*BEFORE CONTENT*/
#kiwiki .before-content {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--kiwiki-content-max-width);
  margin: 10px auto;
  font-size: 12px;
  text-align: center;
}
#kiwiki .dokuwiki div.plugin_translation ul {
  background-color: var(--kiwiki-body-bg);
}
#kiwiki .dokuwiki div.plugin_translation ul li {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 3px;
}

#kiwiki .dokuwiki div.plugin_translation ul li:hover {
  background-color: var(--kiwiki-ui-200);
  border: 2px solid var(--kiwiki-link-btn);
}

#kiwiki .dokuwiki div.plugin_translation ul li.span {
  background-color: var(--kiwiki-link-btn);
}

#kiwiki .dokuwiki div.plugin_translation ul li.span span {
  color: var(--kiwiki-body-bg);
}

#kiwiki .dokuwiki div.plugin_translation ul li a,
#kiwiki .dokuwiki div.plugin_translation ul li span {
  background-color: transparent;
}

#kiwiki .dokuwiki div.plugin_translation ul li a.wikilink2{
  filter:grayscale(1);
}


/*CONTENT WRAPPER*/
#kiwiki .urlextern {
  word-break: break-all;
}

#kiwiki #dokuwiki__site div.no {
  display: flex;
}
#kiwiki #dokuwiki__site #dokuwiki__top #dokuwiki__content__wrapper {
  width: 100%;
  max-width:var(--kiwiki-content-max-width);
  margin: 0 auto;
  display: flex;
  gap: 20px;
  position: relative;
  justify-content: center;
}

#kiwiki #dokuwiki__site #dokuwiki__top.mode_login #dokuwiki__content__wrapper {
  max-width: 500px;
}

/*CONTENT*/
#kiwiki #dokuwiki__content {
  float: initial;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  min-width: 400px;
  width:var(--kiwiki-content-width);
}

#kiwiki #dokuwiki__site.mode_login #dokuwiki__content,
#kiwiki #dokuwiki__site.mode_denied #dokuwiki__content {
  background: transparent;
  border: none;
  padding: 0;
  box-shadow: none;
}

#kiwiki #dokuwiki__content > div {
  margin: 0;
}

#kiwiki #dokuwiki__content > .group {
  display: block;
  box-shadow: #1e293b0a 0 2px 4px 0;
  border: 1px solid var(--kiwiki-ui-100);
  background: var(--kiwiki-main, #fff);
  border-radius: 4px;
  padding: 30px;
}

/*ASIDE*/

#kiwiki .kiwiki_aside {
  width:var(--kiwiki-aside-width);
  float: initial;
  margin: 0;
}

#kiwiki .kiwiki_aside .dokuwiki__aside_wrapper {
  position: sticky;
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#kiwiki .kiwiki_aside  .dokuwiki__aside_wrapper > div, #kiwiki .kiwiki-sidebar-mobile{
  float: none;
  position: relative;
  padding: 15px;
  width: initial;
  margin: 0;
  border-radius: 4px;
  box-shadow: #1e293b0a 0 2px 4px 0;
  border: 1px solid var(--kiwiki-ui-100);
  background: var(--kiwiki-main, #fff);
}
#kiwiki .kiwiki-sidebar-mobile{
  display: none;
}

.toc > li.level1 > .li {
  font-weight: 700;
}
#kiwiki .kiwiki_aside h3 {
  padding: 0 0.5em 0.2em;
  margin: 0.5em 0;
  font-weight: bold;
}
#kiwiki .kiwiki_aside ul {
  padding: 0;
  margin: 0;
}
#kiwiki .kiwiki_aside ul li {
  list-style: none;
  padding: 0 10px;
  margin: 0;
  line-height: 1.5;
}

#kiwiki .kiwiki_aside ul li a,
#kiwiki .kiwiki_aside ul li a:visited {
  text-decoration: none;
  color: var(--kiwiki-text);
}

#kiwiki .kiwiki_aside ul li a:hover {
  text-decoration: underline;
  color: var(--kiwiki-link-btn-hover);
}

#kiwiki .kiwiki-sidebar .sidebar-content {
  max-height: var(--kiwiki-sidebar-max-height);
  overflow: hidden scroll;
}

#kiwiki .kiwiki_aside  .dokuwiki__aside_wrapper > div.dw__toc > div {
  max-height: var(--kiwiki-toc-max-height);
  overflow: hidden scroll;
}

#kiwiki .kiwiki-sidebar .sidebar-content::-webkit-scrollbar, #kiwiki .kiwiki_aside  .dokuwiki__aside_wrapper > div.dw__toc > div::-webkit-scrollbar {
  width: 0.8em;
}

#kiwiki .kiwiki-sidebar .sidebar-content::-webkit-scrollbar-thumb, #kiwiki .kiwiki_aside  .dokuwiki__aside_wrapper > div.dw__toc > div::-webkit-scrollbar-thumb {
  background-color: var(--kiwiki-ui-200);
  outline: 1px solid var(--kiwiki-ui-200);
  width: 1em;
  border-radius: 1em;
}

#kiwiki .kiwiki-sidebar .sidebar-content::-webkit-scrollbar-track, #kiwiki .kiwiki_aside  .dokuwiki__aside_wrapper > div.dw__toc > div::-webkit-scrollbar-track {
  background-color: var(--kiwiki-main);
  border-style: solid;
  border-radius: 1em;
  border-width: 1px;
  border-color: var(--kiwiki-ui-200);
}


/* EDIT THIS BUTTON */
#kiwiki .kiwiki-edit {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0.2;
}
#kiwiki .kiwiki-edit span {
  display: none;
}
#kiwiki .kiwiki-edit:hover {
  opacity: 1;
}

#kiwiki .kiwiki-edit svg {
  width: 16px;
  height: 16px;
  fill: var(--kiwiki-text);
}

/*BUTTONS*/
#kiwiki button, #kiwiki .ui-dialog .ui-dialog-buttonpane button,#kiwiki #comment_wrapper .button {
  cursor: pointer;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  color: var(--kiwiki-btn-text);
  background-color: var(--kiwiki-link-btn);
  border: 1px solid var(--kiwiki-link-btn);
  padding: 5px 10px;
  transition: all 0.2s ease-in-out;
  margin: 0 4px;
  background-image: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 400;
  font-size: 14px;
}

#kiwiki button:hover, #kiwiki .ui-dialog .ui-dialog-buttonpane button:hover,#kiwiki #comment_wrapper .button:hover {
  
  color: var(--kiwiki-btn-text-hover);
  background-color: var(--kiwiki-link-btn-hover);
  border: 1px solid var(--kiwiki-link-btn-hover);
  
}

/*EDITOR*/
#kiwiki .secedit button,
#kiwiki .editBox #tool__bar button,
#kiwiki button.toolbutton,
#kiwiki button.pickerbutton {
  color: var(--kiwiki-ui-300);
  background-color: var(--kiwiki-main);
  border: 1px solid var(--kiwiki-ui-300);
}
#kiwiki button.pickerbutton {
  margin: 2px;
  padding: 2px 8px;
  font-size: 16px;
}
#kiwiki .secedit button:hover,
#kiwiki .editBox #tool__bar button:hover,
#kiwiki button.toolbutton:hover,
#kiwiki button.pickerbutton:hover,#kiwiki #comment_wrapper .button:hover {
  background-color: var(--kiwiki-link-btn-hover);
}

#kiwiki div:not(.picker) button.toolbutton img {
  filter: grayscale(1);
}

#kiwiki.darkmode div:not(.picker) button.toolbutton img {
  filter: invert(1) grayscale(1) brightness(1.5);
}

#kiwiki .picker {
  background-color: var(--kiwiki-main);
  border: none;
  border-radius: 5px;
}
#picker2 {
  overflow: hidden scroll;
  height: 300px;
}

#kiwiki fieldset {
  width: 100%;
}

/*popup*/
#kiwiki .ui-widget-overlay {
  background: var(--kiwiki-text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
#kiwiki .ui-widget-header {
  background: var(--kiwiki-link-btn);
  border: none;
  color: var(--kiwiki-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.05rem;
  padding: 0.4em 0 0.4em 1em;
}
#kiwiki .ui-widget-header:before,
#kiwiki .ui-widget-header:after {
  display: none;
}

#kiwiki .ui-dialog .ui-dialog-titlebar-close {
  position: relative;
}

#kiwiki .ui-dialog .ui-dialog-titlebar-close {
  position: relative;
}

#kiwiki .ui-dialog .ui-dialog-titlebar-close .ui-icon {
  filter: brightness(5);
}
#kiwiki .ui-dialog .ui-dialog-buttonpane {
  border-color: var(--kiwiki-ui-200);
}

/*TEXT INPUT*/
#kiwiki select,
#kiwiki input.edit,
#kiwiki .ui-widget input,
#kiwiki .ui-widget select,
#kiwiki .ui-widget textarea,
#kiwiki textarea.edit {
  width: 100%;
  height: 2rem;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid var(--kiwiki-ui-100);
  transition: all 0.2s ease-out;
  font-size: 14px;
  margin: 0;
  color: #000;
}

#kiwiki input.edit:focus,
#kiwiki select.edit:focus {
  color: var(--kiwiki-ui-400);
  background-color: #fff;
  border-color: #90b5e2;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #206bc440;
}

/*CODE*/
#kiwiki pre {
  word-wrap: normal;
  direction: ltr;
  unicode-bidi: bidi-override;
  text-align: left;
  position: relative;
  padding: 1.5rem 1rem 1rem;
  overflow: visible;
  font-size: 0.9rem;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  line-height: 1.25rem;
  -moz-tab-size: 3;
  -o-tab-size: 3;
  tab-size: 3;
  border-radius: 4px;
  white-space: pre-wrap;
  -webkit-font-smoothing: auto;
  transition: all 0.2s ease-in-out;
  background: var(--kiwiki-ui-100);
  color: var(--kiwiki-text);
}

#kiwiki code {
  background: var(--kiwiki-ui-100);
  padding: 2px 5px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

#kiwiki pre:before {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  content: "code";
  display: block;
  position: absolute;
  top: 1px;
  left: 10px;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 900;
  color: var(--kiwiki-ui-300);
}
#kiwiki pre:hover,
#kiwiki code:hover {
  box-shadow: 0 0 5px var(--kiwiki-ui-300);
}
#kiwiki .code .kw2 {
  color: #7f430e;
}
#kiwiki .code .kw3,
#kiwiki .code .kw7,
#kiwiki .code .sy2 {
  color: #6363ff;
}
/*SECTION EDIT*/
#kiwiki div[class*="level"] {
  padding: 10px;
}
#kiwiki .secedit {
  float: initial;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: end;
}

#kiwiki .secedit button {
  position: relative;
  top: -15px;
  right: -5px;
}

#kiwiki div.section_highlight {
  background: var(--kiwiki-ui-100);
  border-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 10px;
}

/*PROFILE*/
#kiwiki label.block {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-weight: bold;
}

#kiwiki label.block select,
#kiwiki label.block input.edit {
  width: 80%;
}

#kiwiki .qq-upload-button {
  cursor: inherit !important;
  direction: inherit !important;
}

#kiwiki .qq-upload-button input {
  font-family: inherit !important;
  font-size: 1em !important;
  margin: inherit !important;
  opacity: 1 !important;
  padding: inherit !important;
  position: static !important;
}

/*edit*/
#kiwiki .editBar .summary label {
  display: flex;
  align-items: center;
  gap: 15px;
}
#kiwiki .editBar .summary {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  gap: 15px;
}

/*qsearch*/
#kiwiki form.search div.ajax_qsearch {
  position: absolute;
  top: 60px;
  left: -15px;
  max-width: var(--kiwiki-content-max-width);
  width: 100%;
  padding: 15px 0 15px 15px;
  border: 1px solid var(--kiwiki-ui-100);
  background-color: var(--kiwiki-body-bg);
  color: var(--kiwiki-text);
  outline: 0;
  box-shadow: 0 0 15px var(--kiwiki-ui-100);
  border-radius: 5px;
  height: 400px;
  overflow: hidden scroll;
}
#kiwiki form.search div.ajax_qsearch::-webkit-scrollbar {
  width: 0.4em;
}

#kiwiki form.search div.ajax_qsearch::-webkit-scrollbar-thumb {
  background-color: var(--kiwiki-ui-800);
  outline: 1px solid var(--kiwiki-ui-800);
  width: 1em;
  border-radius: 1em;
}
#kiwiki form.search div.ajax_qsearch::-webkit-scrollbar-track {
  background-color: var(--kiwiki-ui-200);
  border-style: solid;
  border-radius: 1em;
  border-width: 1px;
  border-color: var(--kiwiki-ui-200);
}

/*GO TOP/BOTTOM*/
#kiwiki #go {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 5px;
}
#kiwiki #go .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  background-color: var(--kiwiki-link-btn);
  transition: all 0.2s ease-in-out;
}
#kiwiki #go svg {
  fill: var(--kiwiki-main);
  position: relative;
  top: 0;
  transition: all 0.25s ease-in-out;
}
#kiwiki #go .icon:hover {
  background-color: var(--kiwiki-link-btn-hover);
}
#kiwiki #go .icon:hover svg {
  top: -6px;
}

#kiwiki #go [href="#dokuwiki__bottom"] .icon svg {
  transform: rotate(180deg);
}

/*CONFIG PANEL*/
#kiwiki #config__manager tr:hover{
  transition: all 0.2s ease-in-out;
}
#kiwiki #config__manager tr:hover{
  background-color: var(--kiwiki-body-bg);
}
#kiwiki #config__manager td.label span.outkey {
  background-color: var(--kiwiki-body-bg);
  color: var(--kiwiki-text);
  padding: 0 4px 3px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
#kiwiki #config__manager tr:hover td.label span.outkey {
  opacity: .8;
}
#kiwiki form#dw__configform {
  position: relative;
  display: flex;
  flex-direction: column;
}
#kiwiki fieldset {
  width: 100%;
  position: relative;
  display: block;
  background-color: var(--kiwiki-main);
  color: var(--kiwiki-text);
  margin: 0;
  box-sizing: border-box;
}

#kiwiki #config__manager td input.edit {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

/*REVISIONS*/
#kiwiki #dokuwiki__site .changes div.no {
  flex-wrap: nowrap;
  gap: 15px;
  justify-content: space-between;
  position: relative;
}
#kiwiki .changes .changeType {
  width: 25%;
}
#kiwiki .changes .changeType > .quickselect {
  position: sticky;
  top: 20px;
}
#kiwiki .changes ul {
  width: 75%;
}
#kiwiki .changes ul > li > div.li {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  align-items: center;
  border-bottom: 1px solid var(--kiwiki-ui-200);
  padding: 15px 0;
}
#kiwiki .changes ul > li > div.li * {
  padding: 2px 4px;
  display: inline-block;
}

#kiwiki .changes ul > li > div.li .date {
  order: 1;
}
#kiwiki .changes ul > li > div.li .sum {
  width: 60%;
  font-size: 12px;
  order: 2;
}
#kiwiki .changes ul > li > div.li .sizechange {
  width: 10%;
  text-align: center;
  order: 3;
  color: var(--kiwiki-ui-600);
}
#kiwiki .changes ul > li > div.li *:nth-child(3) {
  width: 4%;
  text-align: center;
  order: 4;
}
#kiwiki .changes ul > li > div.li *:nth-child(4) {
  width: 4%;
  text-align: center;
  order: 5;
}

#kiwiki .changes ul > li > div.li:before {
  content: "";
  display: block;
  width: 100%;
  order: 6;
}

#kiwiki .changes ul > li > div.li > img {
  width: 4%;
  height: auto;
  order: 7;
}
#kiwiki .changes ul > li > div.li .wikilink1,
#kiwiki .changes ul > li > div.li .wikilink2 {
  width: 90%;
  order: 8;
  text-align: left;
}

#kiwiki .changes ul > li > div.li .user {
  display: flex;
  justify-content: start;
  width: 100%;
  order: 9;
}

#kiwiki #page__revisions.changes div.no {
  flex-wrap: wrap;
}
#kiwiki #page__revisions.changes ul {
  width: 100%;
  order: 1;
}
#kiwiki #page__revisions.changes div.no > button {
  order: 2;
}
#kiwiki form.changes ul li span,
#kiwiki form.changes ul li a {
  line-break: anywhere;
}
/*DIFF*/
#kiwiki .diffoptions {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--kiwiki-ui-200);
}
#kiwiki .diffoptions > form,
#kiwiki .diffoptions > p {
  width: 50%;
}
#kiwiki .diffoptions > p {
  margin: 0;
  text-align: right;
}
#kiwiki .diffoptions .quickselect {
  display: flex;
  flex-wrap: nowrap;
}
#kiwiki .diffoptions .quickselect span {
  font-size: 12px;
}
#kiwiki .diffnav {
  vertical-align: middle;
}
#kiwiki .diffnav > form {
  display: inline-block;
  width: 80%;
  margin: 0;
}
#kiwiki .diffnav > a {
  width: 10%;
  margin: 0;
  text-decoration: none;
}

#kiwiki .diffnav > a:before {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--kiwiki-ui-200);
  padding: 7px 0 6px;
  margin: 0 2px;
}

#kiwiki table.diff th {
  font-size: 12px;
}

/*INDEX MODE*/
#kiwiki .mode_index #dokuwiki__content {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

#kiwiki #index__tree {
  text-align: left;
}

#kiwiki #index__tree > ul > li {
  padding: 5px 0;
}

#kiwiki #index__tree a {
  text-decoration: none;
}
#kiwiki #index__tree li.open ul {
  padding-left: 20px;
}

/*SEARCH MODE*/
#kiwiki .mode_search #dokuwiki__content {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

#kiwiki .mode_search .search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  width: 100%;
  border: 0;
}

#kiwiki .mode_search .search-form input[name="q"] {
  width: 75%;
  height: 2rem;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid var(--kiwiki-ui-100);
  transition: all 0.2s ease-out;
  font-size: 14px;
  margin: 0;
  color: #000;
}

#kiwiki .mode_search .search-form .advancedOptions {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 0;
  width: 100%;
  font-size: 14px;
}

#kiwiki .mode_search .search-form .toggleAssistant {
  order: 3;
  width: 95%;
  background-color: transparent;
  color: var(--kiwiki-text);
  border: 1px solid var(--kiwiki-ui-100);
}

#kiwiki .search_quickhits {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#kiwiki .search_quickhits li {
  width: 100%;
  margin: 5px 0;
}
#kiwiki .search_fulltextresult .search_results {
  text-align: left;
}

/*TABS*/

#kiwiki .tabs > ul li a,
#kiwiki ul.tabs li strong,
#kiwiki ul.tabs li a {
  background-color: transparent;
  color: var(--kiwiki-ui-400);
  border: 1px solid var(--kiwiki-ui-300);
  border-radius: 0;
  position: relative;
  z-index: 0;
  text-decoration: none;
}
#kiwiki ul.tabs li strong,
#kiwiki ul.tabs li.active a {
  background-color: var(--kiwiki-body-bg);
  color: var(--kiwiki-text);
}
#kiwiki .tabs > ul:after,
#kiwiki ul.tabs:after {
  z-index: 9;
  border-bottom: 1px solid var(--kiwiki-ui-300);
}
#kiwiki ul.tabs li:first-child * {
  margin: 0;
  border-radius: 4px 0 0;
}
#kiwiki .panelHeader {
  background: none;
  border: 1px solid var(--kiwiki-ui-300);
  border-top: 0;
  border-radius: 0 0 4px 4px;
}
/*FILE MANAGER*/
#kiwiki #dokuwiki__site #dokuwiki__top.mode_media #dokuwiki__content__wrapper {
  width: 90%;
  max-width: 100%;
}

#kiwiki #mediamanager__page {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 70px;
}
#kiwiki #mediamanager__page > h1 {
  width: 100%;
  position: absolute;
  top: 20px;
  border: none;
}
#kiwiki #mediamanager__page .panel.namespaces {
  padding: 15px;
  width: 20%;
  margin: 0;
  border-radius: 4px;
  box-shadow: #1e293b0a 0 2px 4px 0;
  border: 1px solid var(--kiwiki-ui-100);
  background: var(--kiwiki-main, #fff);
}

#kiwiki #mediamanager__page .panel.namespaces h2 {
  padding: 0 0.5em 0.2em;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  background: none;
  border: none;
  color:var(--kiwiki-text);
}

#kiwiki #mediamanager__page .panel.filelist {
  padding: 0 20px;
  display: block;
  width: 60%;
}
#mediamanager__page .filelist .thumbs li{
  color:var(--kiwiki-text);

}

#kiwiki #mediamanager__page .panel.file .panelHeader {
  border-left: 1px solid var(--kiwiki-ui-300);
  border-right: 1px solid var(--kiwiki-ui-300);
  border-radius: 0;
  margin: 0;
  padding: 20px;
}
#kiwiki #mediamanager__page .panel.file .panelHeader h3 {
  text-align: center;
  display: block;
  width: 100%;
}

#kiwiki #mediamanager__page .panel.file .panelContent {
  border: 1px solid var(--kiwiki-ui-300);
  border-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 4px 4px;
  padding-bottom: 20px;
}

#kiwiki #mediamanager__page .panel.filelist ul.thumbs {
  display: flex;
  flex-wrap: wrap;
}
#kiwiki #mediamanager__page .panel.filelist .thumbs li {
  width: 150px;
  background-color: transparent;
  cursor: pointer;
}
#kiwiki #mediamanager__page .panel.filelist .thumbs li:hover {
  background-color: var(--kiwiki-ui-200);
}
#kiwiki #mediamanager__page .panel.filelist .thumbs li dl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
#kiwiki #mediamanager__page .panel.filelist .thumbs li dl > * {
  width: 100%;
}
#kiwiki #mediamanager__page .panel.filelist .thumbs li dl > dt {
  display: flex;
  justify-content: center;
}

#kiwiki #mediamanager__page .file ul.actions {
  display: flex;
  margin: 15px 0;
}

#kiwiki #mediamanager__page .file dl {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  font-size: 12px;
  justify-content: center;
}
#kiwiki #mediamanager__page .file dl > dt,
#kiwiki #mediamanager__page .file dl > dd {
  width: 48%;
  padding: 2px;
}
#kiwiki #mediamanager__page .file dl:last-child {
  gap: 5px;
}
#kiwiki #mediamanager__page .file dl:last-child > * {
  width: fit-content;
  background-color: transparent;
}

/*ADMIN*/
#kiwiki #dokuwiki__content div.ui-admin ul.admin_tasks {
  float: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

#kiwiki #dokuwiki__content div.ui-admin ul li a span.icon svg,
#kiwiki #dokuwiki__content div.ui-admin ul li a span.icon svg path {
  fill: var(--kiwiki-link-btn);
}

/*EXTENSIONS MANAGER*/
#kiwiki #extension__list .legend > div {
  padding: 0;
  display: grid;
  grid-template-columns: 15% 85%;
  width: 100%;
  gap: 4px 15px;
  border-right: 1px solid var(--kiwiki-ui-300);
}

#kiwiki #extension__list .legend h2,
#kiwiki #extension__list .legend div.screenshot {
  float: none;
  margin: 0;
}
#kiwiki #extension__list .legend h2,
#kiwiki #extension__list .legend p,
#kiwiki #extension__list .legend div.linkbar {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 0;
}
#kiwiki #extension__list .legend div.screenshot {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  margin: 0;
  max-width: 100%;
}

#kiwiki #extension__list .legend div.screenshot img {
  width: 100%;
  height: auto;
}

#kiwiki #extension__list .legend div.popularity {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  width: 90%;
  right: initial;
  top: 30px;
  background-color: var(--kiwiki-body-bg);
  border-color: var(--kiwiki-ui-300);
}
#extension__list .legend div.popularity div {
  background-color: var(--kiwiki-link-btn);
}
#kiwiki #extension__list .legend dl.details {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--kiwiki-ui-200);
  border: 0;
  padding: 10px;
  border-radius: 10px 10px 0 10px;
}
#kiwiki #extension__list .legend a.info {
  grid-column-start: 2;
  grid-column-end: 3;
  position: absolute;
  bottom: 0;
  right: 5px;
}
#extension__manager div.msg {
  grid-column-start: 1;
  grid-column-end: 3;
}
#kiwiki #extension__list ul.extensionList li {
  color: var(--kiwiki-text);
  border-color: var(--kiwiki-ui-300);
}

#kiwiki #extension__manager .actions {
  display: flex;
  flex-wrap: wrap;
}

#kiwiki #extension__manager .actions p.permerror {
  background-position: top 2px left;
  line-height: 0.8rem;
  margin-top: 10px;
}
#kiwiki #dokuwiki__site #extension__manager form {
  margin: 30px auto;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  max-width: 600px;
}

#kiwiki #dokuwiki__site #extension__manager form div.no {
  flex-direction: column;
}

#kiwiki #dokuwiki__site #extension__manager form div.no label.block {
  justify-content: start;
  gap: 10px;
}

#kiwiki #dokuwiki__site #extension__manager form div.no button[type="submit"] {
  color: var(--kiwiki-btn-text);
  background-color: var(--kiwiki-link-btn);
  border: 1px solid var(--kiwiki-link-btn);
}

#kiwiki #dokuwiki__site #extension__list .legend h2 strong {
  display: block;
}

#kiwiki
  #dokuwiki__site
  #extension__manager
  form
  div.no
  button[type="submit"]:hover {
  color: var(--kiwiki-btn-text-hover);
  background-color: var(--kiwiki-link-btn-hover);
}

/*FOOTER*/

#kiwiki #dokuwiki__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
  margin: 20px auto;
  text-align: center;
  font-size: 0.75rem;
  color: var(--kiwiki-text);
}
#kiwiki #dokuwiki__footer .meta {
  display: flex;
  gap: 20px;
}
#dokuwiki__footer .acl {
  display: inline-block;
  background-color: rgba(255, 0, 0, 0.3);
  padding: 1px 10px;
}

/*Discussion plugin*/
#kiwiki #comment_wrapper{  
  background-color: var(--kiwiki-ui-100);
  border-radius: 5px;
  box-shadow: #1e293b0a 0 2px 4px 0;
}
#kiwiki #discussion__comment_form > .no{
  flex-wrap: wrap;
}

#kiwiki div.dokuwiki .comment_head{
  background-color: var(--kiwiki-ui-300);
  color: var(--kiwiki-ui-text);
  padding: .5em;
  border-radius: 5px 5px 0 0;
}


#kiwiki div.dokuwiki .comment_body{
  background-color: var(--kiwiki-ui-200);
  padding: .5em;
  border-radius: 0 0 5px 5px;
}

#kiwiki #discussion__comment_form label.nowrap{
  order:999;
  width: 100%;
  display: flex;
  align-items: center;
}
#kiwiki #comment_wrapper .comment_buttons {
  margin-top: -13px;
}

#kiwiki #comment_wrapper .comment_buttons > .button{
  padding:0;
}
#kiwiki #comment_wrapper .comment_buttons > .button input.button{
  border: 0;
  margin: 0;
  font-size: 12px;
  filter: grayscale(.7);
  padding:1px 8px ;
}

#kiwiki #comment_wrapper .comment_buttons > .button input.button:hover{
  filter: grayscale(0);
}

#kiwiki div.dokuwiki div.comment_replies.reply {
  background-color: var(--kiwiki-ui-200);
  padding: .5em;
}

/*MISC*/
#kiwiki .JSpopup {
  border: 1px solid var(--kiwiki-ui-300);
}

#kiwiki div.ui-admin {
  display: flex;
  flex-direction: column;
}

#kiwiki .ProseMirror li p {
  color: var(--kiwiki-text);
}